<div class="page1">
    <div class="container"> 
        <div class="box">
            <div class="thumb">
                <img src="content_images/img6.jpeg">
            </div>
            <div class="details">
                <div class="content" id="view1">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <h3>Пенсия "Под Ключ"</h3>
                    <a href ="#!/view1">Подробнее...</a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="thumb">
                <img src="content_images/happy_pension1.jpg">
            </div>
            <div class="details">
                <div class="content" id="view2">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <h3>Назначение пенсии</h3>
                    <a href ="#!/view2">Подробнее...</a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="thumb">
                <img src="content_images/court1.jpg">
            </div>
            <div class="details">
                <div class="content" id="view3">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <h3>Расчет пенсии</h3>
                    <a href ="#!/view3">Подробнее...</a>
                </div>
            </div>
        </div class="page1">
            <div class="box">
                <div class="thumb">
                    <img src="content_images/Pension_boble.jpg">
                </div>
                <div class="details">
                    <div class="content" id="view4">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        <h3>Контактная информация</h3>
                        <a href ="#!/view4">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>